html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.button {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.2);
    line-height: 1;
    color: #efefef;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 25px;
    border-radius: 50px;
    text-decoration-line: none;
    transition: background-color 0.2s;
}
